<!-- Fourth section drinks -->

<div class="drinks">
    <div class="columns is-variable is-2 is-mobile is-multiline ">

        <a href="#" class="column drink-image is-6-mobile">
            <img src="../../../../images/drinks/wine.png" alt="">
            <h3>Wine</h3>
        </a>
        <a href="#" class="column drink-image is-6-mobile">
            <img src="../../../../images/drinks/sparkling-wine.png" alt="">
            <h3>Sparkling wine</h3>
        </a>
        <a href="#" class="column drink-image is-6-mobile">
            <img src="../../../../images/drinks/afri.png" alt="">
            <h3>Soft drinks</h3>
        </a>
        <a href="#" class="column drink-image is-6-mobile">
            <img src="../../../../images/drinks/spirituosen.png" alt="">
            <h3>Spirits</h3>
        </a>
        <a href="#" class="column drink-image is-6-mobile">
            <img src="../../../../images/drinks/beer.png" alt="">
            <h3>Beer</h3>
        </a>
        <a href="#" class="column drink-image is-6-mobile">
            <img src="../../../../images/drinks/food.png" alt="">
            <h3>Food</h3>
        </a>

    </div>
</div>