<!-- Seventh section solution -->

<div class="solution">
    <h2 class="is-size-2-desktop">Our Solutions</h2>
    <div class="columns is-gapless is-mobile is-multiline px-5">
        <div class="column solution-image is-12-mobile">
            <img src="../../../../images/solution/consultation.jpg" alt="">
            <h3>Consultation</h3>
        </div>
        <div class="column solution-image is-12-mobile">
            <img src="../../../../images/solution/design.png" alt="">
            <h3>Design</h3>
        </div>
        <div class="column solution-image is-12-mobile">
            <img src="../../../../images/solution/decoration.jpg" alt="">
            <h3>Glass bottle decoration</h3>
        </div>
        <div class="column solution-image is-12-mobile">
            <img src="../../../../images/solution/logistics.jpg" alt="">
            <h3>Logistics</h3>
        </div>
    </div>
</div>