<!-- Sixth section environment -->

<div class="evnt">
    <div class="left-heading-mobile has-text-black has-text-centered">
        <h2> Powerful reasons to <br> choose glass <br> packaging </h2>
    </div>
    <div class="bg-color-50">

    </div>
    <div class="evnt-contents columns">
        <div class="left-heading column has-text-white">
            <div class="sizing">
                <h2 class="has-text-left-desktop "> Powerful reasons to <br> choose glass <br> packaging </h2>
            </div>
        </div>

        <div class="center-image column is-size-4">
            <img src="../../../../images/green-bottle-circle.png" alt="">

            <div class="circle-icon-a circle-icon-1-position"> <a style="color: white;" href="#"> 1 </a> </div>
            <div class="circle-icon circle-icon-2-position"> <a href="#"> 2 </a> </div>
            <div class="circle-icon circle-icon-3-position"> <a href="#"> 3 </a> </div>
            <div class="circle-icon circle-icon-4-position"> <a href="#"> 4 </a> </div>
            <div class="circle-icon circle-icon-5-position"> <a href="#"> 5 </a> </div>

        </div>

        <div class="right-content column has-text-black">
            <div class="sizing">
                <h3>Implemented <br> environmental protection</h3>
                <div class="right-para">
                    <p>Glass packaging can be reused. It can be cleaned, refilled and put on the shelves as many as 50
                        times. Only then will glass bottles be recycled.
                    </p>
                    <a class="scroll-arrow arrow">
                        <iconify-icon inline icon="ep:arrow-down" width="17" height="17"></iconify-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="right-content-mobile columns is-gapless is-mobile is-justify-content-space-evenly has-text-black">
        <a class="column is-4-mobile scroll-arrow arrow">
            <iconify-icon inline icon="ep:arrow-down" width="17" height="17"></iconify-icon>
        </a>
        <div class="column is-8-mobile">
            <h3>Implemented <br> environmental <br> protection</h3>
            <p>Glass packaging can be reused. It can be cleaned, refilled and put on the shelves as many as 50 times.
                Only
                then will glass bottles be recycled.
            </p>
        </div>
    </div>
</div>