<!-- Eighth section our promise -->

<div class="promise-section">
    <div class="columns has-text-black is-gapless ">
        <div class="column">
            <img src="../../../../images/dna-we-bottle.png" alt="">
        </div>
        <div class="column">
            <div class="right-size">
                <h2 class="is-size-2-desktop is-size-3-mobile mb-6">Our promise</h2>
                <p class="mb-5">As bottle enthusiasts, we have a clear vision and are driven by pure passion. And this
                    for
                    more than 50 years. Maybe this is why we are so quick to offer promises about the quality of our
                    products.</p>

                <button class="" type="button"> READ MORE <iconify-icon icon="iconoir:nav-arrow-down"
                        style="color: white;" width="20" height="20" rotate="270deg"></iconify-icon> </button>
            </div>
        </div>
    </div>
</div>