<!-- fifth section drinks logo -->

<div class="drinks-logo">
    <div class="drinks-logo-images">
        <img src="../../../../images/drinks-logo/heineken-logo-1.svg" alt="">
        <img src="../../../../images/drinks-logo/block-house.svg" alt="">
        <img src="../../../../images/drinks-logo/jaegermeister.svg" alt="">
        <img src="../../../../images/drinks-logo/ABInbev_Logo-1.svg" alt="">
        <img src="../../../../images/drinks-logo/Pernod_Ricard_logo_2019-1.svg" alt="">
        <img src="../../../../images/drinks-logo/henkell_freixenet.svg" alt="">
        <img src="../../../../images/drinks-logo/truefruits.svg" alt="">
        <img src="../../../../images/drinks-logo/rhodius.svg" alt="">
    </div>
</div>