<!-- ninth section - help -->


<div class="help">
    <div class="columns is-vcentered is-gapless">
        <div class="columm is-1-desktop"></div>
        <div class="column is-8-desktop">
            <div class=" help-text has-text-black">
                <h2 class="help-h2-desktop"> How can we help <br> you?</h2>
                <h2 class="help-h2-mobile"> How can we help you?</h2>
                <p class="is-size-6 mb-5">We put great value on extensive consultation about your glass bottle design
                    project and see it as the basis for creating the perfect result. Our experts have many years of
                    experience and the necessary know-how and they will gladly offer support.</p>
                <p class="is-size-6">Use the forms below to tell us the most important project data and your personal
                    contact partner will respond to you promptly.</p>
                <div class="btn">
                    <button type="button"> REQUEST A CONSULTATION <iconify-icon icon="iconoir:nav-arrow-down"
                            style="color: white;" width="20" height="20" rotate="270deg"></iconify-icon> </button>
                    <button type="button"> REQUEST AN OFFER <iconify-icon icon="iconoir:nav-arrow-down"
                            style="color: white;" width="20" height="20" rotate="270deg"></iconify-icon> </button>
                </div>
                <div class="help-bg-color">
                </div>
            </div>
        </div>
        <div class="column">
            <img src="../../../../images/help-one.png" alt="">
        </div>
    </div>
</div>