<!-- Second section top cover -->

<div class="top-cover">
    <div class="container">
        <nav class="navbar is-black py-5">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <a href="#" class="navbar-item">
                        <img src="../../../../images/logo-deco-glass.png" alt="logo">
                    </a>
                </div>
                <a class="navbar-burger" style="transform: scale(1.5);">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="navbar-menu navbar-end">
                <a href="#" class="navbar-item mr-5"> YOUR PROJECT <iconify-icon class="ml-3" inline
                        icon="ep:arrow-down" width="17" height="17"></iconify-icon></a>

                <a href="#" class="navbar-item mr-5"> OUR SOLUTION <iconify-icon class="ml-3" inline
                        icon="ep:arrow-down" width="17" height="17"></iconify-icon></a>

                <a href="#" class="navbar-item mr-5"> OUR PROMISE <iconify-icon class="ml-3" inline icon="ep:arrow-down"
                        width="17" height="17"></iconify-icon></a>

                <a href="#" class="navbar-item mr-5"> INSPIRATION </a>
                <a href="#" class="navbar-item mr-5"> CONTACT </a>
            </div>
        </nav>
    </div>

    <div class="top-cover-heading">
        <h1>Dress to impress.</h1>
    </div>
    <div class="nav-arrow-left arrow">
        <iconify-icon icon="iconoir:nav-arrow-down" style="color: white;" width="20" height="20"
            rotate="90deg"></iconify-icon>
    </div>
    <div class="nav-arrow-right arrow">
        <iconify-icon icon="iconoir:nav-arrow-down" style="color: white;" width="20" height="20"
            rotate="270deg"></iconify-icon>
    </div>
    <div class="scroll-arrow arrow">
        <iconify-icon inline icon="ep:arrow-down" width="17" height="17"></iconify-icon>
    </div>
</div>