/* First section Main header  */

.main-header .navbar {
    min-height: 1rem;
}

.main-header .navbar-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-header .navbar-item a {
    font-size: 12px;
    font-weight: bold;
}