<!-- First section Main header -->

<div class="main-header container is-hidden-mobile">
    <nav class="navbar">
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="navbar-item"> <iconify-icon inline icon="material-symbols:home" style="color: black;"
                        width="16" height="16"></iconify-icon> </a>
                <a class="navbar-item"> CAREER </a>
                <a class="navbar-item"> INSIGHTS </a>
                <a class="navbar-item"> FAQ </a>
                <a class="navbar-item"> NEWSLETTER </a>
                <a class="navbar-item"> <iconify-icon inline icon="twemoji:flag-united-kingdom" width="19"
                        height="19"></iconify-icon> </a>
            </div>
        </div>
    </nav>
</div>