<!-- twelfth section - footer -->

<div class="main-footer footer">
    <div class="footer-contents container">
        <div class="footer-row">
            <div class="contact">
                <img src="../../../../images/logo-deco-glass.png" alt="">
                <p>
                    <b> DECO GLAS GmbH </b><br>
                    Am Alten Galgen 4-6 <br>
                    56410 Montabaur <br>
                    Germany <br>
                </p>
                <p>
                    Phone: +49 (0)2602 1566-0 <br>
                    Fax: +49 (0)2602 1566-50 <br>
                    kontakt@deco-glas.de
                </p>
            </div>

            <div class="footer-list">
                <div class="single-list">
                    <h2>YOUR PROJECT</h2>
                    <ul>
                        <li> <a href="#"> Wine </a> </li>
                        <li> <a href="#"> Sparkling wine </a> </li>
                        <li> <a href="#"> Soft drinks </a> </li>
                        <li> <a href="#"> Spirits </a> </li>
                        <li> <a href="#"> Beer </a> </li>
                        <li> <a href="#"> Food </a> </li>
                    </ul>
                </div>
                <div class="single-list">
                    <h2>OUR SOLUTIONS</h2>
                    <ul>
                        <li> <a href="#"> Consultation </a> </li>
                        <li> <a href="#"> Design </a> </li>
                        <li> <a href="#"> Glass bottle decoration </a> </li>
                        <li> <a href="#"> Logistics </a> </li>
                    </ul>
                </div>
                <div class="single-list">
                    <h2>OUR PROMISE</h2>
                    <ul>
                        <li> <a href="#"> Expertise </a> </li>
                        <li> <a href="#"> Service </a> </li>
                        <li> <a href="#"> Quality </a> </li>
                        <li> <a href="#"> innovation </a> </li>
                        <li> <a href="#"> Sustainability </a> </li>
                    </ul>
                </div>
                <div class="single-list">
                    <h2>NEXT STEPS</h2>
                    <ul>
                        <li> <a href="#"> Be inspired </a> </li>
                        <li> <a href="#"> Contact </a> </li>
                        <li> <a href="#"> Gain insights </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-links">
            <div class="social">
                <iconify-icon inline icon="ri:facebook-box-fill" style="color: black;" width="30"
                    height="30"></iconify-icon>

                <iconify-icon inline icon="ph:instagram-logo" style="color: black;" width="30"
                    height="30"></iconify-icon>

                <iconify-icon inline icon="ri:xing-fill" style="color: black;" width="30" height="30"></iconify-icon>

                <iconify-icon inline icon="mdi:linkedin" style="color: black;" width="30" height="30"></iconify-icon>
            </div>
            <div class="links">
                <ul>
                    <li>Career</li>
                    <li>Newsletter</li>
                    <li>FAQ</li>
                    <li>Terms & Conditions</li>
                    <li>Data Privacy</li>
                    <li>Imprint</li>
                </ul>
            </div>
        </div>
    </div>
</div>