<!-- Third section intro -->

<div class="intro has-text-centered-desktop container has-text-black">

    <h2 class="is-size-2 is-size-3-mobile has-text-centered mb-6">DECO GLAS - Excellent glass decoration, <br>
        for more than 50 years</h2>

    <p class="mb-5 mx-auto">We decorate eye-catchers at the point of sale on glass or ceramics with great passion and
        innovative spirit. Our credo is to present your product perfectly. In addition to our high-end finishing
        technologies such as coating, printing, sleeves or labels, we offer you a complete package that leaves nothing
        to be desired!</p>

    <h3 class="is-size-3 is-size-4-mobile mb-5">An extract of the market segments we already support:</h3>
</div>